.menu-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 19px 16px 24px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(103, 37, 168, 1);
}

.search-container {
    width: 100%;
    margin: auto 0;
    margin-left: 32px;
}

form {
    position: relative;
    margin-right: 32px;
}

::placeholder {
    color: rgba(255, 255, 255, 1);
    font-family: 'Segoe UI', sans-serif;
}

.search-input {
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 48px;
    padding-left: 20px;
    border: none;
    border-radius: 36px;
    background: rgba(255, 255, 255, .2);
    opacity: 50%;
}

.search-btn {
    position: absolute;
    top: 15px;
    right: -5px;
    background-image: url("../img/Search.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    opacity: 40%;
}

.icons-menu-group {
    gap: 40px;
    padding-left: 24px;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    /* align-items: baseline; */
}

.icon-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 8px;

}

.icon-menu-img {
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: rgba(245, 81, 35, 1);
    font-family: 'Segoe UI', sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: white;
}

.quantity-basket {
    top: -11px;
    right: 3px;
}