@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
        margin-bottom: 24px;
    }

    .delivery-and-payment {
        width: 100%;
    }

    /* Total Window */

    .delivery-and-payment-wrapper {
        background-color: inherit;
        box-shadow: none;
    }
}

@media screen and (max-width: 480px) {
    .no-mobile {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    /* Header */

    header {
        padding: 16px 13px 8px 13px;
    }

    .mobile-header {
        display: flex;
        /* align-items: center; */
        width: 100%;
        justify-content: space-between;
        /* gap: 20px; */

    }

    .mobile-header-title {
        line-height: 20px;
        /* font-family: 'Segoe UI', sans-serif; */
        font-size: 23px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.25px;
    }

    /* Main container */
    .main-container {
        display: block;
        padding: 0;
    }

    .mobile-title.cart {
        padding: 0 12px 0 16px;
    }

    .mobile-title {
        font-size: 20px;
        line-height: 28px;
        margin-top: -6px;
    }

    .select-all-wrapper {
        padding: 0px 22px 0px 15px;
        margin-top: -10px;
    }

    .goods-in-stock {
        padding: 0 25px 0 14px;
        gap: 16px;
    }

    .product-out-stock {
        padding: 0 25px 0 14px;
        gap: 17px;
    }

    .product-img-container {
        position: relative;
    }

    /* Goods in stock */
    .checkbox-container {
        position: absolute;
        top: 6px;
        left: 7px;
        width: 22px;
        height: 22px;
    }

    .checkbox+label::before {
        background: white;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .product-img {
        border-radius: 8px;
        height: 110px;
        width: 83px;
    }

    .product-img img {
        height: 108px;
        width: 84px;
    }

    .product-size {
        display: flex;
        justify-content: center;
        height: 22px;
        width: 22px;
        position: absolute;
        bottom: 6px;
        left: 8px;
        background-color: white;
        border-radius: 6px;
        font-size: 14px;
        line-height: 20px;
    }

    .product-description {
        font-size: 14px;
        line-height: 20px;
    }

    .actions-price-of-goods {
        width: 100%;
        margin-bottom: 15px;
    }

    .current-price-p2 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -1.1px;
    }

    .goods-in-stock>.product>.actions-price-of-goods>.actions-container {
        padding: 0;
        width: 100%;
        justify-content: space-between;
    }

    .product-out-stock>.product>.actions-price-of-goods {
        justify-content: flex-end;
    }

    .price-container-mobile {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-self: right;
        align-items: center;
        gap: 5px;
        margin-top: 3px;
        margin-bottom: -5px;
    }

    .price-container-mobile+span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 40px;
        overflow: hidden;
    }

    .current-price {
        font-size: 16px;
        line-height: 24px;
    }

    .actions-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 12px;
        gap: 16px;
    }

    .actions-icons {
        gap: 25px;
    }

    .counter-wrapper {
        height: 32px;
        width: 80px;
        border-radius: 4px;
    }

    .counter-value-container {
        position: static;
        width: 32px;
        display: flex;
        justify-content: center;
    }

    .value {
        width: 32px;
        font-size: 14px;
    }

    .counter-btn {
        position: static;
    }

    .plus {
        padding-right: 10px;
    }

    .minus {
        padding-left: 10px;
    }

    /* Goods out of stock */

    .disabled-text span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 40px;
        overflow: hidden;
    }

    /* Registration */
    .registration-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .registration {
        padding: 16px 16px 30px 16px;
    }

    .delivery-info.delivery-method {
        margin-top: 25px;
        margin-left: 8px;
    }

    .payment-method {
        margin: 4px 0px;
    }

    .payment-card-date {
        margin-left: 12px;
    }

    .delivery-text {
        margin-top: -20px;
    }

    .registration-form {
        flex-direction: column;
    }

    .delivery-method-info {
        display: flex;
        flex-direction: column;
        margin-top: 3px;
    }

    /* Total Window */

    .delivery-and-payment-wrapper {
        padding: 17px 16px 0px 15px;
    }

    .delivery-info {
        background: rgba(240, 236, 244, 1);
    }

    .total-sum {
        font-size: 20px;
        line-height: 28px;
        margin-top: -5px;
    }

    .payment-info-wrapper {
        margin-top: 20px;
        margin-bottom: 7px;
        background: rgba(240, 236, 244, 1);
    }

    .to-order {
        margin-top: 17px;
    }

    /* Bottom Menu */
    .bottom-menu {
        background-color: rgba(255, 255, 255, 1);
        padding: 14px 13px;
        display: flex;
        justify-content: space-between;
    }

}