.mobile-only {
    display: none;
}

main {
    border-radius: 24px;
    background-color: rgba(246, 246, 250, 1);
    display: flex;
}

.main-container {
    margin-top: 20px;
    margin-bottom: 41px;
    display: flex;
    width: 100%;
    padding: 0px 24px 16px 24px;
    gap: 32px;
}

.main-info-part {
    display: flex;
    flex-direction: column;
}

.cart-information {
    gap: 7px;
    flex-grow: 1;
}

.cart-title {
    font-size: 28px;
}

.cart {
    display: flex;
    flex-direction: column;
}

.cart-components {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
}

.select-all-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-all {
    display: flex;
}

.checkbox {
    position: absolute;
    opacity: 0;

}

.checkbox+label {
    display: inline-flex;
    align-items: center;

}

.checkbox+label:hover {
    cursor: pointer;
}

.checkbox+label::before {
    box-sizing: border-box;
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #adb5bd;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    margin-right: 11px;
}

.checkbox:checked+label::before {
    border-color: rgba(203, 17, 171, 1);
    background-color: rgba(203, 17, 171, 1);
    background-image: url('../../img/check_mark.svg');
}

.up-arrow {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.line-division {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: -5px;
    padding-top: 2px;
}